.App {
    display: flex;
    flex-direction: column;
    margin: 40px;
    min-height: calc(100vh - 80px);
}

.HelloWorld {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: cadetblue;
    padding: 20px;
    margin: 20px;
}

.CountdownBomb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orangered;
    color: white;
    padding: 20px;
    margin: 20px;
}

.RouletteGun {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    color: #fff;
    padding: 20px;
    margin: 0 20px;
}

.left {
    background-color: darkslategray;
    color: azure;
}

.right {
    background-color: wheat;
    color: firebrick;
}